.aboutMy{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background: repeating-linear-gradient(
    -70deg,
    rgba(0, 0, 0, 0.902),
    var(--Primary-Color) 100px,
    var(--Background-Color) 100px,
    rgba(0, 0, 0, 0.6) 200px
    );
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    width: 100%;
    z-index: 4;
}
.sectionAboutMy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-right: 240px;
}
#titleAboutMy{
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: 500;
    white-space: nowrap;
    color: #fff;
    text-shadow:
        3px 3px 20px #000,
        3px -3px 0 #000;
}
.sketchfab-embed-wrapper{
    position: relative;
    z-index: 1;
    background-color: var(--Primary-Color);
    border-radius: 450px;
    border: solid white;
    padding: 150px;
}
.aboutSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 165px 20px 260px 20px;
    background-color: var(--Primary-Color);
    width: 800px;
}
.textAboutMy{
    margin: 0px 100px 0px 100px;
    color: var(--Text-Header-Color);
    text-align: center;
}
.nameTitle{
    color: var(--Text-Header-Color);
    font-size: 50px;
    font-weight: 500;
}
.myPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    height: 300px;
}
@media screen and (max-width: 1360px){
    .aboutMy{
        align-items: normal;
    }
    .sectionAboutMy{
        margin-right: 50px;
        margin-left: 50px;
        gap: 10px;
    }
    .sketchfab-embed-wrapper{
        padding: 100px;
    }
    .aboutSection{
        gap: 0px;
        padding: 135px 20px 80px 20px;
    }
    #titleAboutMy{
        margin-top: 120px;
    }
}
@media screen and (max-width: 995px){
.sectionAboutMy{
    margin-right: -240px;
}
#titleAboutMy{
    display: none;
}
.sketchfab-embed-wrapper{
    display: none;
}
.aboutSection{
    gap: 30px;
    width: 100%;
}
}
