@import 'stylesHeader.css';
@import 'stylesMain.css';
@import 'stylesAboutMy.css';
@import 'stylesSkills.css';
@import 'stylesProyects.css';
@import 'stylesContacts.css';
@import 'stylesFooter.css';

:root{
    /* Colors */
    --Background-Color: #FFFFFF;
    --Primary-Color: #222222;
    --Secondary-Color: #1C5D99;
    --Terciary-Color: #bbcde5;
    --Quaternary-Color: red;
    --Quinary-Color: red;
    --Links-Color: rgb(255, 255, 255);
    --linkHover-Color: rgb(0, 247, 255);
    --Text-Color: rgb(0, 0, 0);
    --Text-Header-Color: white;

    /* Text Type */
    --Font-Type: "DM Sans", sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--Font-Type);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
a{
    text-decoration: none;
}
